@import 'normalize';
@import 'media';
@import '_animated.scss';
$hamburger-layer-width                     : 23px !default;
$hamburger-layer-height                    : 2px !default;
$hamburger-layer-spacing                   : 4px !default;
$hamburger-padding-y                       : 0px !default;
@import 'hamburgers.scss';
html {
	font-family: 'Roboto', sans-serif;
	z-index:-100;
	width: 100%;
}
* {
	box-sizing: border-box;
}
body {
	background-image: url("../images/bg-body.png");
	background-position: 838px 86%;
	background-repeat: no-repeat;
	width: 100%;

}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.title-block {
  	font-size: 30px;
  	font-weight: 500;
  	color: #101010;
  	position: relative;
  	padding: 20px 0;
  	margin: 0 0 4px 0;
  	&:before {
  		content:'';
		position: absolute;
		top: 50%;
		left: -23px;
		width: 8px;
		height: 49px;
		background-color: #101010;
		transform:translateY(-50%);
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
  	}
  	&__projects {
  		position: relative;
  	}
}
.title {
  	font-size: 22px;
  	font-weight: 500;
  	color: #101010;
}
.sub-title {
	font-size: 16px;
  	font-weight: 500;
  	color: #0c0c0c;
}
.text {
	font-size: 16px;
	color: #0c0c0c;
	line-height: 1.63;
	margin: 0 0 18px 0;
}

.container {
	margin: 0 auto;
	max-width: 992px;
	min-width: 320px;
	@include to1200 {
		// max-width:992px;
		max-width:1042px;
	}
	@include to992 {
		// max-width:768px;
		max-width:818px;
		padding:0 23px;
	}
	@include to768 {
		padding:0 23px;
	}
}
.more {
	font-stretch: condensed;
	color: #0c0c0c;
	font-size: 16px;
	font-weight: 500;
	border-bottom: 2px dashed #0c0c0c;
	padding: 5px 0;
}
.sidebar-box {
    max-height: 391px;
    position: relative;
    overflow: hidden;
	&.active {
		max-height: none;
		overflow: 	visible;
	}
	@include to992 {
		max-height: 290px;
	}
}
.more-arrow {
	padding-left: 10px;
}
.read-more {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	.button {
		cursor: pointer;
	}

background-color: #fff;
}
.header {
	position: absolute;
	top:40px;
	width: 100%;
	z-index:1000;
	padding: 10px 0;
	&.f-nav {
		position: fixed;
		background-color: #242424;
		top:0;
		padding:0;
		.header__drop {
			background-color: #242424;
		}
	}
	@include to768 {
		&.header_active {
			background-color: #242424;
		}
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5px auto;
		@include to768 {
			justify-content: space-between;
		}
	}
	&__nav {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@include to768 {
			display: none;
			flex-direction: column;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: #242424;
			align-items: stretch;
			&.nav_active {
				display: flex;
			}
		}
	}
	&__item {
		@include to768 {
			border-bottom: 1px solid rgba(255, 255, 255, 0.23921568627450981);
			text-align: center;
			&:first-child{
				border-top: 1px solid rgba(255, 255, 255, 0.23921568627450981);
			}
		}
	}
	
	&__link {
		font-size: 18px;
  		font-weight: 300;
  		color: #fff;
  		cursor: pointer;
  		display: block;
  		padding: 10px 20px;
  		&:hover {
  			border-radius: 5px;
  			background-color: rgba(255, 255, 255, 0.15);
  		}
  		img {
  			padding: 0 0 1px 0;
  		}
  		@include to992 {
			padding: 10px 12px;
		}
		@include to768 {
			padding: 23px 20px;
		}
  		&_language{
			&.active {
				img {
					padding: 2px 0 0 0;
					transform: rotate(180deg);
				}
			}
  		}
	}
	&__logo {
		@include to768 {
			display: none;
		}
		.header__link {
			&:hover {
  			border-radius: 5px;
  			background-color: transparent;
  			}
		}
	}
	&__hamburger {
		outline: 0;
		display: none;
		@include to768 {
			display: block;
		}
	}
	&__call-back {
		display: none;
		padding:0 15px;
		@include to768 {
			display: block;
		}
	}
	&__wrapper-logo {
		display: none;
		img{
			width: 100%;
		}
		@include to768 {
			display: block;
			width: 45px;
		}
		// @include to640 {
		// 	width: 45px;
		// }

	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		background: #fff;
	}
	&__drop {
		position: absolute;
		display: none;
		&.active {
			display: block;
		}
		@include to768 {
			background-color: #242424;
			width: 100%;
			left:0;
			top: 101%;
		}
	}
	&__language {
		position: relative;
	}
	&__drop-item {
		@include to768 {
			width: 100%;
			border-bottom: 1px solid rgba(255, 255, 255, 0.23921568627450981);
			text-align: center;
		}
	}
	&__drop-link {
		font-size: 18px;
  		font-weight: 300;
  		color: #fff;
  		padding: 10px 20px;
    	display: inline-block;
    	@include to992 {
			padding: 10px 12px;
		}
		@include to768 {
			padding: 23px 20px;
		}
	}
}
.banner {
	background: url(../images/bg-banner.png) no-repeat center center/cover;
	padding: 30px 0;
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		position: relative;
		// @include to992 {
		// 	height: 680px;
		// }
		// @include to480 {
		// 	height: 590px;
		// }
	}
	&__brend {
		width: 415px;
		img {
			width: 100%;
			display: block;
		}
		@include to480 {
			width: 280px;
		}
	}
	&__arrow {
		position: absolute;
		bottom:58px;
		left:50%;
	}
}
.about {
	padding: 76px 0 0 0;
	&__img {
		float: left;
		padding-right: 15px;
		img {
			width: 100%;
		}
		@include to992 {
			width: 400px;
		}
		@include to768 {
			width: 100%;
			float: none;
			padding-right: 0;
			text-align: center;
			padding-bottom:20px;
			img {
				width: 400px;
			}
		}
		@include to480 {
			img {
				width: 100%;
			}
		}
	}

}
.why-we {
	padding: 76px 0 0 0;
	&__content {
		column-count: 2;
		@include to768 {
			column-count: auto;
		}
	}
	.owl-prev, .owl-next {
		position: absolute;
		top:calc(50% - 11px);
		z-index:100000;
	}
	.owl-prev {
		left: -20px;
	}
	.owl-next {
		right: -20px;
	}
}
.types-work {
	padding: 76px 0 0 0;
	&__container {

	}
	&__text {
		width: 50%;
		@include to768 {
			width: 100%;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		@include to768 {
			flex-direction: column;
		}
	}
	&__item {
		width: 326px;
		height: 200px;
		background: url(../images/types-work/IMG_8961.png) no-repeat center center/cover;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 22px;
		cursor: pointer;
		@include to992 {
			width: 243px;
			height: 180px;
		}
		@include to768 {
			width: 100%;
			margin: 7px 0;
    		height: 98px;
		}
		@include to480 {
			margin: 6px 0;
    		height: 82px;
		}
		&:hover {
			background-size: 150% 150%;
			-webkit-box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
box-shadow: 0px 0px 36px -3px rgba(0,0,0,0.75);
			 transition: 0.5s;

		}
	}
	&__name {
		font-weight: 500;
		color: #ffffff;
		text-align: center;
	}
}
.projects {
	padding: 76px 0 0 0;
	&__more {
		font-weight: 500;
		text-align: center;
		padding: 47px 0 17px 0;
		span {
			font-stretch: condensed;
			font-size: 20px;
			border-bottom: 2px dashed #0c0c0c;
    		padding: 5px 0;
    		cursor: pointer;
		}
		@include to768 {
			display: none;
		}
	}
	&__table-wrapper {
		height: 400px;
		overflow: hidden;
		@include to768 {
			height: auto;	
		}
	}
	&__table {
		display: table;
		width: 100%;
		@include to768 {
			display: none;
		}
	}
	&__row {
		display: table-row;
		&_bg {
			&:nth-child(2n+1) {
				background-color: #f7f7f7;
			}
		}
	}
	&__cell {
		display: table-cell;
		&:nth-child(1) {
			padding:0 30px 0 10px;
			vertical-align: middle;
		}
		&:nth-child(2) {
			p {
				width: 270px;
				@include to992 {
					width: 206px;
				}
			}
		}
		&:nth-child(3) {
			p {
				width: 331px;
				@include to992 {
					width: 250px;
				}
			}
		}
		&:nth-child(4) {
			text-align: center;
		}
	}
	&__mob, .container_slider1  {
		display: none!important;
		@include to768 {
			display: block!important;;
		}
	}
	.container_slider1 {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 100px;
		.owl-prev, .owl-next {
			display: inline-block;
			padding: 0 18px;
			img {
				width: 14px;
			}
		}
	}
}
.contacts {
	padding: 76px 0 0 0;
	&__container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__block {
		width: 240px;
		&:nth-child(2n){
			width: 180px;
		}
		@include to480 {
			// width: 190px;
			width: 100%;
		}
	}
	&__item {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		&:last-child {
			justify-content: flex-end;
			border-left: 1px solid #e9e9e9;
			@include to992 {
				padding-left: 112px;
				justify-content: flex-start;
			}
			@include to640 {
				padding-left: 50px;
			}
		}
		@include to480 {
			width: 100%;
			justify-content: flex-start;
			&:last-child {
				justify-content: flex-start;
				padding-left: 0;
				border-left: none;
				border-top: 1px solid #e9e9e9;
			}
		}
	}
}
.footer {
	padding: 76px 0 76px 0;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.popup {
	display: none;
	width:100%;
    min-height:100%;
    color: red;
    background-color: rgba(0, 0, 0, 0.7);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index:10000;
    height: 100%;
    &__close {
    	position: absolute;
    	right: -36px;
    	cursor: pointer;
    	@include to992  {
			right: -25px;
    	}
    	@include to768 {
    		right: 10px;
			top: 10px;
    	}
    }
    &__container {
    	display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding:0 32px;
		@include to768 {
			padding: 0;
		}
    }
    &__content {
    	height: 535px;
    	background-color: #fff;
    	border-radius: 5px;
    	display: flex;
    	position: relative;
    	@include to768 {
    		// flex-direction: column-reverse;
    		// justify-content: flex-end;
    		border-radius: 0;
    		height: 100%;
    		width: 100%;
    		overflow: auto;
    		flex-wrap: wrap;
    	}
    }
    &__description {
    	width: 60%;
    	// overflow: auto;
    	overflow: hidden;
    	height: 100%;
    	position: relative;
    	// &::-webkit-scrollbar { width: 0;}
    	// -ms-overflow-style: none;
    	// overflow: -moz-scrollbars-none;
    	@include to768 {
    		width: 100%;
    		height: auto;
    		padding: 32px 40px 32px 40px;
    		overflow: visible;
    		order: 5;
    	}
    	&:before {
    		content:"";
    		position: absolute;
    		left: 0;
    		bottom: 0;
    		width: 100%;
    		height: 100px;
			background: rgba(250,248,247,0);
background: -moz-linear-gradient(top, rgba(250,248,247,0) 0%, rgba(255,255,255,0.51) 51%, rgba(255,255,255,0.71) 71%, rgba(250,247,247,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(250,248,247,0)), color-stop(51%, rgba(255,255,255,0.51)), color-stop(71%, rgba(255,255,255,0.71)), color-stop(100%, rgba(250,247,247,1)));
background: -webkit-linear-gradient(top, rgba(250,248,247,0) 0%, rgba(255,255,255,0.51) 51%, rgba(255,255,255,0.71) 71%, rgba(250,247,247,1) 100%);
background: -o-linear-gradient(top, rgba(250,248,247,0) 0%, rgba(255,255,255,0.51) 51%, rgba(255,255,255,0.71) 71%, rgba(250,247,247,1) 100%);
background: -ms-linear-gradient(top, rgba(250,248,247,0) 0%, rgba(255,255,255,0.51) 51%, rgba(255,255,255,0.71) 71%, rgba(250,247,247,1) 100%);
background: linear-gradient(to bottom, rgba(250,248,247,0) 0%, rgba(255,255,255,0.51) 51%, rgba(255,255,255,0.71) 71%, rgba(250,247,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf8f7', endColorstr='#faf7f7', GradientType=0 );
    	}
    	

    }
    &__img {
		background: url(../images/popur.png) no-repeat center center/cover;
		height: 100%;
		width: 40%;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		overflow: hidden;
		@include to768 {
			height: 278px;
    		width: 100%;
    		overflow: visible;
    		border-top-right-radius: 0;
			border-bottom-right-radius: 0;
    	}
  //   	@include to480 {
  //   		display: none;
  //   	}
    }
    &__container-scroll {
    	padding: 32px 50px 32px 60px;
    	overflow: auto;
    	&::-webkit-scrollbar { width: 0;}
    	-ms-overflow-style: none;
    	overflow: -moz-scrollbars-none;
    	height: 100%;
    }
}
.popup1.active,.popup2.active,.popup3.active {
	display: block;
}
.owl-prev,.owl-next {
	cursor: pointer;
}
.main-video {
	position: relative;
    width: 100%;
    height: auto;
    // max-height: 450px;
    overflow: hidden;
    height: 40vw;
}
.main-video__video {
    margin: auto;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    visibility: visible;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
video {
    display: inline-block;
    vertical-align: baseline;
}

